# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\CodeGym\Java Web Back-end Development 2.0\0.9.Tong-quan-ung-dung-web\Hien-thi-thoi-gian\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
