# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\CodeGym\Java Web Back-end Development 2.0\10.JSP-va-JSTL\Hien-thi-danh-sach-khach-hang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
