* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  height: 56px;
  background: lightslategray;
}

.nav-list,
.logo-container {
  height: 100%;
}

.nav-list {
  display: flex;
}

.logo-container {
  flex: 1;
  justify-items: center;
}

.nav-list {
  flex: 4;
  justify-content: space-around;
  align-items: center;
}

.nav-list p {
  margin-top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: lightslategray;
  color: white;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  border-radius: 3px;
  height: 20px;
  margin-top: 20px;
}

.nav-list i:hover + p {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.nav-list i {
  font-size: 28px;
}
